@font-face {
    font-family: ;
    src: url();
}

body {
    background-color: #baa074;
}

h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 100px;
    padding-right: 50px;
    padding-top: 25px;
    padding-bottom: 25px;
}